/.vscode
/environments/config.yaml
/environments/environments.go
/redis_data/appendonly.aof
/config
/fonts
/logs
/logger
/logger/app.log
/docker-compose.yml.old
/docker-compose.yml.wut
/docker-compose.yml

